#content {
    width: 85%;
    margin-top: 3%;
    margin-left: 5%;
}

#greeting-container {
  margin-top: 20px;
}

#navigation-bar {
    background-color: #222222;
    color: white;
    list-style-type: none;
    padding: 15px 10px 15px 1px;
    margin: -0.6% -1%;
}
.navigation-bar-items {
    padding-left: 20px;
    text-decoration: none;
    color: white;
}
#index-left {
    float: left;
}
#index-right {
    float:left;
    margin-left: 3%;
    width: 65%;
}